---
layout: default
title: Pending Deals
---

{% include main-header.html %}
{% include side-menu.html %}

<div class="table">
  <div class="table-wrapper">
    <div class="table-head">

      <div onclick="myFunction()" class="dropdown">
        <button class="dropbtn">Pending deals<div><i class="material-icons">arrow_drop_down</i></div></button>





        <div id="myDropdown" class="dropdown-content">
          <a href="#">All Pending Deals</a>
          <a href="#">Pending Approval</a>
          <a href="#">Pending Settlement</a>
          <a href="#">Pending Execution</a>
          <a href="#">Canceled Deals</a>
        </div>
      </div>





    <div class="table-content">

    </div>
  </div>

</div>
