
<section class="who-we-are">

		<div class="aside">
			<aside>Who we are<div class="tiny-line"></div></aside>
		</div>

	<div class="flex flex--center">
		<div class="text-wrapper flex--center">
			<h3 class="at-small-center">
				Harmonizing Knowledge with Software Solution

			</h3>
			<p class="at-small-center">
				TriAset delivers high performance software solutions that increase the productivity, seamless interactivity and effectiveness of Treasury, Risk and Investment in both Conventional and Islamic financial instruments. With more than 15 years of specialization, we are experts in bringing complex and intertwine processes and information into simple yet exceptional user experience solutions.

			</p>
			<a class="learn-more center-at-small" href="{{site.baseurl}}/about-us/">Learn More</a>
		</div>
	</div>

	<div class="mountain"></div>

</section>
