<section class="what-we-do">

	<div class="aside">
		<aside>What we do<div class="tiny-line"></div></aside>
	</div>

	<div class="flex flex--center">	
		<div class="text-wrapper">
			<h3 class="center-text">
				We Are Proud Of Our Solutions
			</h3>
		</div>
	</div>


	<div class="flex flex--center center-text">
	
		<a href="{{site.baseurl}}/solution-bank/" class="bank-img col-3 flex--h-center flex--center">
			
			<div class="col-1 flex flex--center">
				
				<h2 class="product-text flex--h-center">Bank<br> Treasury</h2>
			</div>	
		
		</a>

		<a href="{{site.baseurl}}/solution-corporate/" class="corporate-img col-3 flex--h-center flex--center">
			
			<div class="col-1 flex--h-center flex--center">
				<h2 class="product-text flex--h-center">Corporate<br>Treasury</h2>
			
			</div>
	
		</a>
		<a href="{{site.baseurl}}/solution-investment/" class="investment-img col-3 product flex--h-center flex--center">
		
		<div class="col-1 flex flex--center">
			<h2 class=" product-text flex--h-center">Investment<br>Management</h2>
		
		</div>
		
		</a>
	</div>
</section>





	