<section class="who-we-help">
	
		<div class="aside">
			<aside>Who we help<div class="tiny-line"></div></aside>
		</div>

	<div class="flex flex--center">	
		<div class="text-wrapper flex--center">
			<h3 class="at-small-center">
				We provide solutions to help banks, corporates, and financial institutions to manage their fund, risk and investment.

			</h3>
			<p class="at-small-center">
				We have the solution and knowledge to help organization that is involved in financial instruments for financing, funding, investment, proprietary trading or hedging. Optimizing one profitability requires the support of efficient system that in turn supported by knowledgeable and committed personnel.<br>
				Our clients include Banks, Pension Funds, Insurance Companies and Corporates dealing in Conventional and Islamic financial instruments. 
				Bank Treasury solution is offered to Banks while Corporate will have Corporate Treasury solution. For Pension Funds and Insurance Companies we provide our Investment solution.
			</p>
			<br>
			<br>
			<!-- <button class="center-text at-small-center-btn">Learn More</button> -->
		</div>
	</div>

</section>