<section class="awards">
	
		<div class="aside">
			<aside>Awards & Recognitions<div class="tiny-line"></div></aside>
		</div>

		<div class="flex flex--center">	
			<div class="text-wrapper flex--center">
				<h3 class="center-text">Well-respected and recognized for being the more innovative solution provider</h3>
			</div>
		</div>
		
		
		<div class="flex flex--center">	
			<div class="flex flex--space-around">
				<div class="col-1">
					<div class="bg-award" id="deloitte"></div>
				</div>			
				<div class="col-1">
					<div class="bg-award" id="apicta"></div>
				</div>
		
				
				<div class="col-1">
					<div class="bg-award" id="common-criteria"></div>
				</div>
				<div class="col-1">
					<div class="bg-award" id="msc"></div>
				</div>
			</div>
		</div>
</section>

