<div class="add-info-modal test-open">
  <div class="additional-info-container">
    <div class="deal-input-head">
      <h2 class="deal-title">Additional information</h2>
    </div>

    <div class="deal-modal-form">
        <form class="input input-100">Counter-party
          <select class="combobox">
            <option value="">Maybank Sdn Bhd</option>
            <option value="">CIMB Islamic Bank Sdn Bhd</option>
            <option value="">Hong Leong Bank Sdn Bhd</option>
            <option value="">Bank Rayat Sdn Bhd</option>
          </select>
        </form>
        <form class="input input-100">Counter-party Reference<br>
          <input class="text-box" type="text" placeholder="Counter-party Reference">
        </form>
        <form class="input input-100">Deal Reference<br>
          <input class="text-box" type="text" placeholder="Deal Reference">
        </form>
        <form class="input input-100">Remarks<br>
          <textarea class="remarks" name="remarks" cols="40" rows="5" placeholder="add your remarks here..."></textarea>
        </form>
    </div>
    <br>
    <div class="deal-action-container">
      <a class="primary-action-btn" href="#">OK</a>
      <a class="secondary-action-btn" href="#">CANCEL</a>
    </div>


  </div>
</div>
