<div class="modal-bg">
	<div class="modal-box">
		<div class="close">
			<i class="ion-android-close"></i>
		</div>
		<div class="email">
			<a href="mailto:solutions@triaset.com?Subject=Request%20for%20a%20Demo"><div class="email-btn"><i class="ion-email"></i></div></a>
			<a href="mailto:solutions@triaset.com"><div class="lead">solutions@triaset.com</div></a>
		</div>
		<div class="line"></div>
		<div class="location">
			<div class="address">
				<div><i class="ion-location"></i>Corporate Office</div>
				<p>B12-07,Prima Avenue, Menara Prima, Jalan PJU 1/39, Dataran Prima,
				47301, Petaling Jaya,
				Selangor, Malaysia</p>
				<div class="phone"><i class="ion-ios-telephone"></i>+601 2404 8233</div>
			</div>
			<div class="address">
				<div><i class="ion-location"></i>Operation Office</div>
				<p>Unit 23-5, 5thfloor, Block E1, Jalan PJU 1/42, Dataran Prima, 47301 Petaling Jaya, Selangor, Malaysia</p>
				<div class="phone"><i class="ion-ios-telephone"></i>+603 7880 9562</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="map">
			<a href="https://www.google.com.my/maps/place/TriAset/@3.1172549,101.5927759,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc4ea1b0a8324f:0x6c3bc53a7431f66f!8m2!3d3.1172549!4d101.5949699?hl=en" target="_blank">View on Google Maps</a>
		</div>
		
	</div>

</div>

