<div class="dashboard-container">
  <!-- widget1 -->
  <div class="widget widget1">
      <div class="title">Total Position</div>
      <div class="large-amount">11.16m</div>
      <hr>
      <div class="table-bar-Widget">
        <div class="table-bar-values row1">
          <div class="bar-name">assets</div>
          <div class="bar-amount">6.61M</div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row2">
          <div class="bar-name">assets</div>
          <div class="bar-amount">6.61M</div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row3">
          <div class="bar-name">assets</div>
          <div class="bar-amount">6.61M</div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="line"></div>
        </div>
      </div>
  </div>
    <!-- end of widget1 -->
    <!-- widget2 -->
  <div class="widget widget2">
      <div class="title">deals&nbsp;<div class="title-filter">today<i class="material-icons">keyboard_arrow_down</i></div></div>
      <div class="large-amount">11.16m</div>
      <hr>
      <div class="table-bar-Widget">
        <div class="table-bar-values row1">
          <div class="bar-name">assets</div>
          <div class="bar-number">5</div>
        </div>
        <div class="bars">
          <div class="bar hidden"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row2">
          <div class="bar-name">assets</div>
          <div class="bar-number">10</div>
        </div>
        <div class="bars">
          <div class="bar hidden"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row3">
          <div class="bar-name">assets</div>
          <div class="bar-number">99</div>
        </div>
        <div class="bars">
          <div class="bar hidden"></div>
          <div class="line"></div>
        </div>
      </div>
  </div>
  <!-- end of widget2 -->
  <!-- widget3 -->
  <div class="widget widget3">
    <div class="title">settlement&nbsp;<div class="title-filter"> today<i class="material-icons">keyboard_arrow_down</i></div></div>
    <div class="large-amount">11.16m</div>
    <hr>
    <div class="title title-bottom">recievable&nbsp;<div class="title-filter"> today<i class="material-icons">keyboard_arrow_down</i></div></div>
    <div class="large-amount">11.16m</div>
  </div>
  <!-- end of widget3 -->
  <!-- widget4 -->
  <div class="widget widget4">
    <div class="title title-l-allign">actual vs budget&nbsp;
      <div class="title-filter hide-times"> this year<i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
    <div class="show-times">
      <div class="title-filter"> this year<i class="material-icons">keyboard_arrow_down</i></div>
      <hr>
    </div>

    <div class="income-container">
      <div class="income-row row--1">
        <div class="col-left">
          <div class="income-font">Income</div>
          <div class="m-font">10.28M</div>
        </div>
        <div class="col-right">
          <div class="col-right-row">
            <div class="income-font">Budget</div>
            <div class="income-font">9.83M</div>
          </div>
          <div class="col-right-row">
            <div class="income-font">variance</div>
            <div class="income-font">9.83M</div>
          </div>
        </div>
      </div>
      <div class="income-row bar-row">
        <div class="bar-act-bud in-bar">
          <div class="bar-act-bud-amt">90%</div>
        </div>
      </div>
      <div class="income-row row--2">
        <div class="col-left">
          <div class="income-font">Expenses</div>
          <div class="m-font">10.28M</div>
        </div>
        <div class="col-right">
          <div class="col-right-row">
            <div class="income-font">Budget</div>
            <div class="income-font">9.83M</div>
          </div>
          <div class="col-right-row">
            <div class="income-font">variance</div>
            <div class="income-font">9.83M</div>
          </div>
        </div>
      </div>
      <div class="income-row bar-row">
        <div class="bar-act-bud ex-bar">
          <div class="bar-act-bud-amt">90%</div>
        </div>
      </div>
    </div>
  </div>
  <!-- widget5 -->
  <div class="widget widget5">
    <div class="title title-l-allign">Cashflow</div>
    <div class="title-filter">this year<i class="material-icons">keyboard_arrow_down</i></div>
    <hr>
    <div class="cashflow">
      <img src="../assets/images/Cashflow.png" alt="" width="100%">
    </div>

  </div>
  <!-- end of widget5 -->
  <!-- widget6 -->
  <div class="widget widget6">
    <div class="title title-l-allign">Position distribution</div>
    <div class="title-filter">by counterparty<i class="material-icons">keyboard_arrow_down</i></div>
    <hr>
    <div class="table-bar-Widget distribution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>
    <div class="table-bar-Widget distrubution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>
    <div class="table-bar-Widget distrubution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>
    <div class="table-bar-Widget distrubution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>
    <div class="table-bar-Widget distrubution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>
    <div class="table-bar-Widget distrubution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>
    <div class="table-bar-Widget distrubution">
      <div class="table-bar-values row1">
        <div class="bar-name">assets</div>
        <div class="bar-amount">6.61M</div>
      </div>
      <div class="dist-bars">
        <div class="dist-line">
          <div class="line"></div>
          <div class="line-amt">12.3%</div>
        </div>
        <div class="dist-bar"></div>
      </div>
    </div>

  </div>
  <!-- end of widget6 -->
</div>
