<div class="dashboard-container">
  <div class="widget widget1">
      <div class="title">Total Position</div>
      <div class="large-amount">11.16m</div>
      <hr>
      <div class="table-bar-Widget">
        <div class="table-bar-values row1">
          <div class="bar-name">assets</div>
          <div class="bar-amount">6.61M</div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row2">
          <div class="bar-name">assets</div>
          <div class="bar-amount">6.61M</div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row3">
          <div class="bar-name">assets</div>
          <div class="bar-amount">6.61M</div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="line"></div>
        </div>
      </div>
  </div>
  <div class="widget widget2">
      <div class="title">Total Position</div>
      <div class="large-amount">11.16m</div>
      <hr>
      <div class="table-bar-Widget">
        <div class="table-bar-values row1">
          <div class="bar-name">assets</div>
          <div class="bar-number">5</div>
        </div>
        <div class="bars">
          <div class="bar hidden"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row2">
          <div class="bar-name">assets</div>
          <div class="bar-number">10</div>
        </div>
        <div class="bars">
          <div class="bar hidden"></div>
          <div class="line"></div>
        </div>
        <div class="table-bar-values row3">
          <div class="bar-name">assets</div>
          <div class="bar-number">99</div>
        </div>
        <div class="bars">
          <div class="bar hidden"></div>
          <div class="line"></div>
        </div>
      </div>
  </div>
  <div class="widget widget3">
    <div class="title">Total Position</div>
    <div class="large-amount">11.16m</div>
    <hr>
    <div class="title title-bottom">Total Position</div>
    <div class="large-amount">11.16m</div>
  </div>
  <div class="widget widget4">
    <div class="title">Total Position</div>
  </div>
  <div class="widget widget5">5
  </div>
  <div class="widget widget6">6
  </div>

</div>
