<div class="deal-input-container">
  <div class="deal-input-head">
    <h2 class="deal-title">Add a new deposit placement</h2>
  </div>

  <div class="deal-input-body">
    <div class="deal-row">
      <div class="icon-circle">
        <i class="material-icons">edit</i>
      </div>
      <h3>Deal details</h3>
    </div>
    <div class="deal-row">
      <div class="deal-col">
        <form class="input-text">
        Counter-party<br>
          <select class="select-form" name="counter-party">
            <option value="">Maybank Sdn Bhd</option>
            <option value="">CIMB Islamic bank Sdn Bhd</option>
            <option value="">Hong Leong Bank Sdn Bhd</option>
            <option value="">Bank Rayat Sdn Bhd</option>
          </select>
        </form>
      </div>
    </div>
  </div>

</div>
