<div class="deal-input-container">
  <div class="deal-input-head">
    <h2 class="deal-title">Add a new deposit placement</h2>
  </div>
  <div class="deal-input-body">
      <div class="deal-row">
        <div class="icon-circle">
          <i class="material-icons">edit</i>
        </div>
        <h3>Deal details</h3>
      </div>
      <div class="form-elements">
        <form class="input input-100">Counter-party
          <select class="combobox">
            <option value="">Maybank Sdn Bhd</option>
            <option value="">CIMB Islamic Bank Sdn Bhd</option>
            <option value="">Hong Leong Bank Sdn Bhd</option>
            <option value="">Bank Rayat Sdn Bhd</option>
          </select>
        </form>
        <form class="input input-60">Principal<br>
          <input class="text-box" type="number" placeholder="Amount">
        </form>
        <form class="input input-30">Currency<br>
          <select class="combobox">
            <option value="MYR">MYR</option>
            <option value="USD">USD</option>
          </select>
        </form>
        <form class="input input-50">Value Date<br>
          <select class="combobox">
            <option value="">18/5/2018</option>
          </select>
        </form>
        <form class="input input-50">Maturity Date<br>
          <select class="combobox">
            <option value="">18/5/2019</option>
          </select>
        </form>
        <form class="input input-50">Rate %<br>
          <input class="text-box" type="number" placeholder="Rate % p.a.">
        </form>
      </div>

        <div class="deal-row">
          <div class="icon-circle">
            <i class="material-icons">add</i>
          </div>
          <a href="" class="deal-link" id="dp-add-info">Additional info &nbsp<p>(Optional)</p></a>
        </div>
        <div class="deal-row">
          <div class="icon-circle">
            <i class="material-icons">credit_card</i>
          </div>
          <a href="" class="deal-link">Settlement Instruction &nbsp<p>(Default)</p></a>
        </div>
        <div class="deal-row">
          <div class="icon-circle">
            <i class="material-icons">access_time</i>
          </div>
            <a href="" class="deal-link">Payment Schedule &nbsp<p>(Default)</p></a>
          </div>
    </div>


  <div class="deal-action-container">
    <a class="primary-action-btn" href="#">DONE</a>
    <a class="secondary-action-btn" href="#">CANCEL</a>
  </div>
</div>
