<footer>
	<section class="get-in-touch">
		<div class="flex flex--center col-2">
			<h5 class="git">Get In Touch<div class="tiny-line"></div></h5>
			<p class="footer-p">We would love to hear from you and answer any questions you might have. Send us email, request for a demo, or find our location on the map.</p>
			<div class="footer-icons">
				<a href="mailto:solutions@triaset.com"><div class="footer-btn">
					<div class="footer-email"><i class="ion-email"></i></div>
				</a>	
					</div>
				<a href="mailto:solutions@triaset.com?Subject=Request%20for%20a%20Demo"><div class="footer-btn">
						<div class="footer-demo"><img src="{{ site.baseurl }}/assets/images/Demo.png"></div>
					</div>
				</a>	
				<a href="https://www.google.com.my/maps/place/TriAset/@3.1172549,101.5927759,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc4ea1b0a8324f:0x6c3bc53a7431f66f!8m2!3d3.1172549!4d101.5949699?hl=en" target="_blank">
				<div class="footer-btn">
						<div class="footer-map"><i class="ion-location"></i></div>
					</div>
				</a>	
				
			
			</div>
		</div>
	</section>



	<div class="copyright">
		<p id="copyright">© 2016 TRIASET.COM ALL RIGHTS RESERVED</p>
	</div>	

</footer>