<header>
	<nav class="positioner">
		<a href="{{site.baseurl}}/index/"><div class="logo" id="mobile-nav-logo"></div></a>

		<input type="checkbox" class="nav-check" id="nav-check">
		<!-- This is the button we’d click to open/close the navigation  -->
		<label class="nav-label" for="nav-check">
			<span class="mobile-nav-toggle">
				<span></span>
			</span>
		</label>
		<ul class="nav-main">
			<li class="level-1">
				<a class="nav-item" href="#">Company</a>
				<ul>
					<li><span class="tiny-line"></span></li>
					<li class="level-2"><a href="{{site.baseurl}}/about-us/">About Us</a></li>
					<li class="level-2"><a href="{{site.baseurl}}/careers/">Careers</a></li>
					<!-- <li class="level-2"><a href="#">Client Portal</a></li> -->
				</ul>
			</li>
			<li class="level-1">
				<a class="nav-item" href="#">Solutions</a>
				<ul>
					<li><span class="tiny-line"></span></li>
					<li class="level-2"><a href="{{site.baseurl}}/solution-bank/">Bank Treasury</a></li>
					<li class="level-2"><a href="{{site.baseurl}}/solution-corporate/">Corporate Treasury</a></li>
					<li class="level-2"><a href="{{site.baseurl}}/solution-investment/">Investment Management</a></li>
					<!-- <li class="level-2"><a href="#">Market Risk</a></li> -->
				</ul>
			</li>

			<li class="level-1">
				<a class="nav-item" href="#">Success Story</a>
				<ul>
					<li><span class="tiny-line"></span></li>
					<li class="level-2"><a href="{{site.baseurl}}/in-bank/">In Bank</a></li>
					<li class="level-2"><a href="{{site.baseurl}}/in-corporate/">In Corporate</a></li>
					<li class="level-2"><a href="{{site.baseurl}}/in-investment/">In Investment</a></li>
					<!-- <li class="level-2"><a href="">Market Risk</a></li> -->
				</ul>
			</li>
			<li class="level-1">
				<a class="contact-nav" id="contact" href="#">Contact</a>

			</li>
		</ul>

	</nav>

</header>
