<nav class="main-header">
  <div class="nav-wrapper">
    <div class="left-align">
      <a class="menu-icon" href="#"><i class="material-icons">menu</i></a>
      <a class="logo" href="index.html"></a>
    </div>
    <div class="right-align">
      <button class="add-deal">add deal</button>
      <div class="nav-separator"></div>
      <a class="calendar-icon" href="#"><i class="material-icons">event</i></a>
      <a class="notifications-icon" href="#"><i class="material-icons">notifications</i></a>
      <a class="user-avatar"></a>
    </div>
  </div>
  <div class="mini-side-bar">
    <a class="side-icon" href="/index.html" aria-labal="dashboard">
      <i class="material-icons">dashboard</i>
    </a>
    <a class="side-icon" href="/pending/index.html" aria-labal="dashboard">
      <i class="material-icons">hourglass_full</i>
    </a>
  </div>
</nav>
