
<nav class="main-header">
  <div class="nav-wrapper">
    <div class="left-align">
      <a class="menu-icon" href="#"><i class="material-icons">menu</i></a>
      <a class="logo" href="/index.html"><span class="dcompas">dCompass</span><span class="saas"> SaaS</span></a>
    </div>
    <div class="right-align">
      <a class="add-deal-btn" href="{{site.baseurl}}/add-deals/">add deal</a>
      <div class="nav-separator"></div>
      <a class="calendar-icon" href="#"><i class="material-icons">event</i></a>
      <a class="notifications-icon" href="#"><i class="material-icons">notifications</i></a>
      <a class="user-avatar"></a>
    </div>
  </div>
  <div class="mini-side-bar">
    <a class="side-icon" href="/index.html" aria-labal="dashboard">
      <i class="material-icons">dashboard</i>
    </a>
    <a class="side-icon" href="{{site.baseurl}}/pending/" aria-labal="dashboard">
      <i class="material-icons">hourglass_full</i>
    </a>
  </div>
</nav>

{% include notification.html %}
