<nav>
  <ul class="navigation">
      <li class="nav-item"><a href="#">Logo</a></li>
      <li class="nav-item"><a href="#">Dashboard</a></li>
      <li class="nav-item"><a href="#">Pending Deals</a></li>
      <li class="nav-item"><a href="#">Reports</a></li>
      <li class="nav-item"><a href="#">Settings</a></li>
      <li class="nav-item"><a href="#">Help & Feedback</a></li>

  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>
</nav>
