<header>

	<nav class="nav-all positioner">

		<a href="{{site.baseurl}}/index/"><div class="logo" id="mobile-nav-logo"></div></a>

	

		<ul class="nav-main" id="mobile-nav">
			<li>
				<a class="nav-items" href="#">Company</a>
				<div class="nav-sub-background"></div>
				<div class="nav-content">
					<div class="nav-sub">
						<ul>
							<li><a href="#">About Us</a></li>
							<!--<li><a href="#">Awards</a></li>-->
							<li><a href="#">careers</a></li>
							<li><a href="#">Client Portal</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="category">
				<a class="nav-items" href="#">solutions</a>
				<div class="nav-sub-background"></div>
				<div class="nav-content">
					<div class="nav-sub">
						<ul>
							<li><a href="#">Bank Treasury</a></li>
							<li><a href="#">Corporate Treasury</a></li>
							<li><a href="#">Asset Management</a></li>
							<li><a href="#">Market Risk</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li>
				<a class="nav-items" href="#">Success Story</a>
				<div class="nav-sub-background"></div>
				<div class="nav-content">
					<div class="nav-sub">
						<ul>
							<li><a href="#">Bank Treasury</a></li>
							<li><a href="#">Corporate Treasury</a></li>
							<li><a href="#">Asset Management</a></li>
							<li><a href="#">Market Risk</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li>
				<a class="nav-items" id="contact" href="#">Contact</a>
				<div class="nav-sub-background"></div>
			</li>
		</ul>
			
		<span class="mobile-nav-toggle">
			<span></span>
		</span>

	</nav>

	

</header>





