<div class="notif-modal-bg">
  <div class="notif-box">
    <div class="notif-icons">
      <div class="setting-icon">
        <i class="material-icons">settings</i>
      </div>
      <div class="close-icon notif-close">
        <i class="material-icons">close</i>
      </div>
      <a class="notif-clear" href="#">clear all</a>
    </div>
    <div class="notif-wrapper-scroll">
      <div class="notify-empty">
        <h2>No notifications for now</h2>
        <p>You’re all caught up! Check back later for new notifications</p>
      </div>
      <div class="notify notify-1">
        <div class="notif-img">
          <img class="avatar" src="{{site.baseurl}}/assets/images/avatar.jpg" alt="" width="100%" height="64px">
        </div>
        <div class="notif-content">
          <h2>New Deal</h2>
          <p>Ali Beheshti added a new deposit placement deal</p>
        </div>
        <div class="notif-details">
          <i class="material-icons">close</i>
          <h5>4h</h5>
        </div>
      </div>
      <div class="notify notify-2">
        <div class="notif-img">
          <img class="avatar" src="{{site.baseurl}}/assets/images/avatar.jpg" alt="" width="100%" height="64px">
        </div>
        <div class="notif-content">
          <h2>New Deal</h2>
          <p>Ali Beheshti added a foreign exchange deal</p>
        </div>
        <div class="notif-details">
          <i class="material-icons">close</i>
          <h5>4h</h5>
        </div>
      </div>
      <div class="notify notify-3">
        <div class="notif-img">
          <img class="avatar" src="{{site.baseurl}}/assets/images/avatar.jpg" alt="" width="100%" height="64px">
        </div>
        <div class="notif-content">
          <h2>Deal Approved</h2>
          <p>Ali Beheshti approved a deposit placement deal</p>
        </div>
        <div class="notif-details">
          <i class="material-icons">close</i>
          <h5>4h</h5>
        </div>
      </div>
      <div class="notify notify-4">
        <div class="notif-img">
          <img class="avatar" src="{{site.baseurl}}/assets/images/avatar.jpg" alt="" width="100%" height="64px">
        </div>
        <div class="notif-content">
          <h2>Deal Settled</h2>
          <p>Ali Beheshti settled a deposit place-ment deal</p>
        </div>
        <div class="notif-details">
          <i class="material-icons">close</i>
          <h5>4h</h5>
        </div>
      </div>
    </div>

  </div>

<!-- notification setting -->
  <div class="notif-setting">
    <div class="back-icon">
      <i class="material-icons">arrow_back</i>
    </div>
    <div class="notif-setting-wrapper">
      <h3 class="">Show notifications for: </h3>
      <ul class="notif-setting-toggle">
        <li>New deals
          <!-- Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Approved deals
          <!-- Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Settled deals
          <!-- Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Canceled deals
          <!-- Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Deals Maturity due date
          <!-- Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>


  </div>

</div>
