<!-- <div class="pen-dialog-modal"> -->
  <div class="pen-dialog">
    <div class="deal-detail-head">
      <h2 class="deal-detail-title">Deal details</h2>
      <i class="material-icons">more_horiz</i>
    </div>
    <div class="deal-detail-table">
      <div class="cell">Counterparty:</div>
      <div class="cell">MAY BANK SDN BHD</div>
      <div class="cell">Instrument Type:</div>
      <div class="cell">Deposit Placement</div>
      <div class="cell">Product:</div>
      <div class="cell">Fixed Deposit</div>
      <div class="cell">Principal Amount:</div>
      <div class="cell">60,000 MYR</div>
      <div class="cell">Deal Date:</div>
      <div class="cell">28/08/2018</div>
      <div class="cell">Value Date:</div>
      <div class="cell">08/12/2018</div>
      <div class="cell">Rate % p.a:</div>
      <div class="cell">3.33%</div>
      <div class="cell">Status:</div>
      <div class="cell">Pending Approval</div>
    </div>
    <div class="link-modals-container">
      <a href="#">
        <div class="info-link">
          <i class="material-icons">note_add</i>
          <div class="add-info">
            <div class="text-link">Additional Information</div>
            <a href="#">View</a>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="info-link">
          <i class="material-icons">access_time</i>
          <div class="add-info">
            <div class="text-link">Payment Schedule</div>
            <a href="#">View</a>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="info-link">
          <i class="material-icons">credit_card</i>
          <div class="add-info">
            <div class="text-link">Payment Instruction</div>
            <a href="#">View</a>
          </div>
        </div>
      </a>
    </div>
    <div class="act-btn-container">
      <button class="btn primary-action-btn primary-btn-blue" type="button" name="button">APPROVE</button>
      <button class="btn secondary-action-btn" type="button" name="button">CANCEL</button>
    </div>
  </div>
<!-- </div> -->



<div class="pen-dialog">
  <div class="deal-detail-head">
    <h2 class="deal-detail-title">Deal details</h2>
    <i class="material-icons">more_horiz</i>
  </div>
  <div class="deal-detail-table">
    <div class="cell">Counterparty:</div>
    <div class="cell">MAY BANK SDN BHD</div>
    <div class="cell">Instrument Type:</div>
    <div class="cell">Deposit Placement</div>
    <div class="cell">Product:</div>
    <div class="cell">Fixed Deposit</div>
    <div class="cell">Principal Amount:</div>
    <div class="cell">60,000 MYR</div>
    <div class="cell">Deal Date:</div>
    <div class="cell">28/08/2018</div>
    <div class="cell">Value Date:</div>
    <div class="cell">08/12/2018</div>
    <div class="cell">Rate % p.a:</div>
    <div class="cell">3.33%</div>
    <div class="cell">Status:</div>
    <div class="cell">Pending Approval</div>
  </div>
  <div class="link-modals-container">
    <a href="#">
      <div class="info-link">
        <i class="material-icons">note_add</i>
        <div class="add-info">
          <div class="text-link">Additional Information</div>
          <a href="#">Change</a>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="info-link">
        <i class="material-icons">access_time</i>
        <div class="add-info">
          <div class="text-link">Payment Schedule</div>
          <a href="#">Change</a>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="info-link">
        <i class="material-icons">credit_card</i>
        <div class="add-info">
          <div class="text-link">Payment Instruction</div>
          <a href="#">Change</a>
        </div>
      </div>
    </a>
  </div>
  <div class="act-btn-container">
    <button class="btn primary-action-btn primary-btn-blue" type="button" name="button">EDIT</button>
    <button class="btn secondary-action-btn" type="button" name="button">CANCEL</button>
  </div>
</div>

<div class="test2">
  <div class="notif-box2 test3">
  </div>
</div>
