<div class="side-bar-modal">
  <nav class="side-nav">
    <a class="side-logo" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/assets/images/D'CompassHsmall.png" alt="logo"></a>
    <div class="nav-items">
      <a class="side-icon" href="{{site.baseurl}}/index.html" aria-labal="dashboard">
        <i class="material-icons">dashboard</i>
        <div>Dashboard</div>
      </a>
      <a class="side-icon" href="{{site.baseurl}}/pending/" aria-labal="Pending">
        <i class="material-icons">hourglass_full</i>
        <div>Pending Deals</div>
      </a>
    </div>
    <hr>
    <div class="nav-items">
      <a class="side-icon" href="#" aria-labal="dashboard">
        <i class="material-icons">find_in_page</i>
        <div>Reports</div>
      </a>
      <a class="side-icon" href="{{site.baseurl}}/setting/" aria-labal="setting">
        <i class="material-icons">settings</i>
        <div>Settings</div>
      </a>
    </div>
    <hr>
    <div class="nav-items">
      <a class="side-icon" href="#" aria-labal="dashboard">
        <i class="material-icons">help</i>
        <div>Help & Feedback</div>
      </a>
    </div>

  </nav>
</div>
