<div class="side-bar-modal">
  <nav class="side-nav">
    <a class="side-logo" href="#"><img src="assets/images/D'CompassHsmall.png" alt="logo"></a>
    <div class="tab">
      <a class="mini-side-btn" href="#" aria-labal="dashboard">
        <i class="material-icons">dashboard</i>
        <div>Dashboard</div>
      </a>
      <a class="mini-side-btn" href="#" aria-labal="dashboard">
        <i class="material-icons">hourglass_full</i>
        <div>Pending Deals</div>
      </a>
    </div>
    <hr>
    <div class="nav-items tab">
      <a class="mini-side-btn" href="#" aria-labal="dashboard">
        <i class="material-icons">find_in_page</i>
        <div>Reports</div>
      </a>
      <a class="mini-side-btn" href="#" aria-labal="dashboard">
        <i class="material-icons">settings</i>
        <div>Settings</div>
      </a>
    </div>
    <hr>
    <div class="nav-items tab">
      <a class="mini-side-btn" href="#" aria-labal="dashboard">
        <i class="material-icons">help</i>
        <div>Help & Feedback</div>
      </a>
    </div>

  </nav>
</div>
