<section>
	<div class="flex flex--center">
		<div class="col-2 in-bank">
			<h3 class="success-in">In Bank Treasury</h3>
			<p>Our client is a large-sized bank, playing a pivotal role as a financial intermediary in Malaysia. Its vision is to be Malaysians’ preferred choice of a comprehensive provider of financial services. To compete and provide the highest level of service which is efficient and effective, the bank utilises the latest state-of-the-art technologies and solutions.</p>

			<h4>Business Issues</h4>
			<p>The Group treasury division was tasked to provide value-added treasury services to both holding and subsidiary companies, especially in the advisory of managing financial matters. Before the introduction of our Corporate Treasury solution, there were so many fragmented systems being used and this caused many challenges:</p>
			
			<ul class="lists">
				<li>Majority of deals were processed and recorded in spreadsheets in a constrained environment</li>
				<li>Different staff handled data in different spreadsheets creating inconsistency and resulting in incomplete information</li>
				<li>Presentation of information was rigid with multi-dimensional views difficult</li>
				<li>Information gathering for risk management was time consuming, at least two to three days, resulting in untimely information</li>
				<li>No Interfacing was available with other systems</li>
				<li>There was no proper segregation of duties and responsibilities</li>
				<li>Inadequate internal controls with poor user access capability</li>
				
			</ul>	
			

			<br>
			<h4>Solution Implemented</h4>
			<p>We have successfully implemented the bank with a state-of-the-art Treasury system:</p>
			<ul class="lists">
				<li>No more fragmented operations but a straight-through processing system</li>
				<li>Users are now assigned with proper and secured access controls</li>
				<li>All authorized personnel retrieve information from the same data source</li>
				<li>Business intelligent tool is provided to retrieve information</li>
				<li>Integration with core-banking, real-time gross settlement and risk management systems</li>
				<li>System generated statutory reports</li>
				<li>Islamic and conventional financial products</li>
				<li>Accounting entries in accordance to international accounting standards</li>
			</ul>
				<br>
			<h4>Business Improvement</h4>
			<p>The bank’s treasury division can now play a more efficient, effective, and proactive role, thus providing value-added services to the bank and its customers.</p>
			<ul class="lists">
				<li>Straight-through processing system (one time only entry of data) ensures minimal human involvement, thereby minimising human errors</li>
				<li>Manpower usage in mundane operations is greatly reduced allowing more time to be spent on analysing real business issues</li>
				<li>Proper access controls ensure proper check and balance procedures</li>
				<li>Enhanced internal controls ensure financial data are properly authorized, accurately recorded, appropriately reported, and aptly audited</li>
				<li>Information is readily available not only for risk management but all treasury activities, thereby improving the speed of getting accurate and credible information</li>
				<li>Information displayed in multi-dimensional views, allowing better insights of risk-reward profiles</li>
				<li>Well-timed decisions are made from information provided</li>
				<li>Statutory reports can be sent out on time</li>
				<li>Seamless and stable integration with other systems</li>
			</ul><br><br>

		</div>
	</div>	
</section>