<section>
	<div class="flex flex--center">
		<div class="col-2">
			<h3 class="success-in">In Invetstment Management</h3>
			<p>Our client, with equity partnership presence of an international financial services provider, is one of the largest overall insurer and takaful players in Malaysia. The Group also has operations overseas. To be able to provide a unique ability to work hand-in-hand with customers enabling them to live richer lives, the Group relies heavily on automation of processes in its financial investments.</p>
			<h4>Business Issues</h4>
			<p>With five very large and active operating entities forming under two anchor subsidiaries for both conventional and Islamic operations, our client needed computerised solutions to meet its investment objectives. Thus, the Group embarked in looking for a robust and extensive system.
			<br>
			Prior to the successful installation of our solution for all operating entities, the Group faced the following challenges:</p>			
			<ul class="lists">
				<li>Each operating entity had its own computerised system or spreadsheet or a combination of both</li>
				<li>Within an operating entity, there was usage of both computerised and spreadsheet systems, resulting in investment information being kept in a disjointed manner</li>
				<li>The investment processes of each operating entity were dictated by the system it operated, causing the Group to have many variations of processes. This further compounded the problems of efficiency and effectiveness</li>
				<li>The different operating and processing systems inadvertently bring about different reporting formats, thereby making investment decisions difficult</li>
				<li>The consolidation process of Group-wide information can be a very mammoth task. With this comes the problem of not having timely and accurate information</li>
				<li>The Group had excellent internal control policies, however, the implementation of these policies were made difficult with the fragmented systems and investment processes</li>
				<li>The Group had sophisticated and talented investment personnel to allow involvement in international forays. However, there were many international investments that could not be handled properly by the existing fragmented systems.</li>			
			</ul>	
			<br>
			<h4>Solution Implemented</h4>
			<p>We have successfully implemented the organization with state-of-the-art Investment system:</p>
			<ul class="lists">
				<li>All five active operating companies use one system</li>
				<li>Harmonize the operations of conventional insurance and takaful into one application</li>
				<li>No more fragmented operations but a straight-through-processing system</li>
				<li>Users are now assigned with proper and secured access controls</li>
				<li>All authorized personnel retrieve information from the same data source</li>
				<li>Business intelligent tool is provided to retrieve information</li>
				<li>Unit pricing functions for all investment-linked funds</li>
				<li>Automation of management fees and taxation for all funds</li>
				<li>Feature that allow monitoring of external fund managers</li>
				<li>Put more vigorous approval processes into operations</li>
				<li>Islamic and conventional financial products</li>
				<li>Accounting entries in accordance to international accounting standards</li>
			</ul>
				<br>
			<h4>Business Improvement</h4>
			<p>The implementation provided the Group with a platform for a more effective and efficient investment processes, while at the same time benefitting the following:</p>
			<ul class="lists">
				<li>All operating entities in the Group are now using our solution in their investment processes. This unified and centralized system provides more than 60 active users in the front, middle, and back office, and the finance department with a user friendly and robust operation environment</li>
				<li>The number of team members performing mundane operational tasks can now be reduced and reassigned to strategic tasks</li>
				<li>Financial positions, trades, and risk statistics are generated immediately without the need to wait for closing of books at general ledger levels</li>
				<li>The automation of management fees and tax calculation is now a norm and efficiently calculated</li>
				<li>The process of calculating investment values for more than 80 funds in the Group has seen much improvement, where the value can be made available much earlier</li>
				<li>IThe international investments with different time zone valuations can be included in the system to get accurate investment valuations</li>
				<li>Funds that are outsourced to external investment managers are also included thus providing a complete financial information</li>
				<li>Internal control policies of the Group can now be implemented; allowing segregation of duties and managing breaches of limits</li>
				<li>More reliable and credible risk statistics are now common information provided, thereby increasing the confidence of investment managers in mitigating risks</li>
				<li>International accounting standards can now be effectively adopted within the Group</li>
			</ul><br><br>
		</div>
	</div>	
</section>