<section>
	<div class="flex flex--center">
		<div class="col-2">
			<h3 class="success-in">In Corporate Treasury</h3>
			<p>This client is a leading and well-diversified conglomerate with a solid reputation in its core business of property development, building expressways and townships, specializing in engineering and construction, and asset and facility management. In line with its mission and vision, the Group has always valued information technology as one of its essential support pillars.</p>

			<h4>Business Issues</h4>
			<p>The Group treasury division was tasked to provide value-added treasury services to both holding and subsidiary companies, especially in the advisory of managing financial matters. Before the introduction of our Corporate Treasury solution, there were so many fragmented systems being used and this caused many challenges:</p>

			<ul class="lists">
				<li>Management of treasury was done on subsidiary specific and not on a consolidated basis</li>
				<li>Too much reliance on spreadsheets</li>
				<li>Monthly reports from subsidiaries were always late by at least seven working days from the reporting date</li>
				<li>Group treasury had to re-enter information to get the consolidated financial position and this took an additional three working days</li>
				<li>Optimization of Group cash balance could not be planned and managed as information received was historical and irrelevantv</li>
				<li>Group treasury division was unable to receive ad-hoc latest financial position of a subsidiary, thereby reducing the ability to respond to changes in market-risk factors</li>
				<li>Treasury decision was made based on information provided that was at least two weeks old</li>
				<li>Accounting entries of treasury transactions were done manually and only once a month</li>
				
			</ul>


			<br>
			<h4>Solution Implemented</h4>
			<p>We have successfully implemented the conglomerate with state-of-the-art treasury system:</p>
			<ul class="lists">
				<li>Subsidiaries are now using the same system with database centralised at one data centre</li>
				<li>An automated and straight-through-processing system</li>
				<li>Business intelligent tool is provided to retrieve information</li>
				<li>Integration with multiple financial and accounting systems</li>
				<li>Accounting entries in accordance to international accounting standards</li>
				<li>Islamic and conventional financial products</li>
				<li>Users are now assigned with proper and secured access controls</li>
				<li>All authorized personnel retrieve information from the same data source</li>
			</ul>
				<br>
			<h4>Business Improvement</h4>
			<p>Our solution has turnaround the way treasury is being managed and operated. Treasury activities are now fully automated which enable the Group to better manage a complex web of financial information:</p>
			<ul class="lists">
				<li>Manpower usage in monotonous operations is now replaced by our solution</li>
				<li>Users at both subsidiary and holding focus on real business issue</li>
				<li>Gone were the days where the Group needs at least 10 working days to get information</li>
				<li>Information is readily available on the spot, allowing for speedy and appropriate responses to market volatility at record time</li>
				<li>Group treasury division can plan for the optimization of cash flow based on real-time information</li>
				<li>Our solution provides financial positions in various dimensions, a key consideration in risk management</li>
				<li>Accounting entries automatically generated and sent to accounting systems daily</li>
			</ul>
			<br>
			<p>In addition to resolving the issues of poor quality information, the Group has the opportunity to adopt international best practices available:</p>	
			<ul>
				<li>Segregation of duties and responsibilities that enhance internal controls</li>
				<li>Data provided has been properly authorised and audited</li>
				<li>Introduction of limits and compliances into treasury operations</li>
				<li>Accounting treatment follows international standards</li>
				<li>Standardized communication format with external parties Market risks management is enhanced</li>
	
			</ul><br><br>

		</div>
	</div>
</section>
