<div class="table-grid">
  <div class="table-header">
    <div class="column col-1">Deal Status</div>
    <div class="column col-2">Deal Date</div>
    <div class="column col-3">Instrument</div>
    <div class="column col-4">Counter-party</div>
    <div class="column col-5">Currency</div>
    <div class="column col-6">Settlement Amt</div>
    <div class="column col-7">Flow</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Deal Status</div>
    <div class="column col-2">Deal Date</div>
    <div class="column col-3">Instrument</div>
    <div class="column col-4">Counter-party</div>
    <div class="column col-5">Currency</div>
    <div class="column col-6">Settlement Amt</div>
    <div class="column col-7">Flow</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement</div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">100,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending Settlement</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">loan</div>
    <div class="column col-4">RHB Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">100,000</div>
    <div class="column col-7">in</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>




  <!-- <div class="table-row">
    <div class="column col-1">Deal Status</div>
    <div class="column col-2">Deal Date</div>
    <div class="column col-3">Instrument</div>
    <div class="column col-4">Counter-party</div>
    <div class="column col-5">Currency</div>
    <div class="column col-6">Settlement Amt</div>
    <div class="column col-7">Flow</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement</div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">100,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending Settlement</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">loan</div>
    <div class="column col-4">RHB Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">100,000</div>
    <div class="column col-7">in</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Deal Status</div>
    <div class="column col-2">Deal Date</div>
    <div class="column col-3">Instrument</div>
    <div class="column col-4">Counter-party</div>
    <div class="column col-5">Currency</div>
    <div class="column col-6">Settlement Amt</div>
    <div class="column col-7">Flow</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement</div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">100,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending Settlement</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">loan</div>
    <div class="column col-4">RHB Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">100,000</div>
    <div class="column col-7">in</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div>
  <div class="table-row">
    <div class="column col-1">Pending approval</div>
    <div class="column col-2">30/12/2016</div>
    <div class="column col-3">Deposit Placement
    </div>
    <div class="column col-4">Maybank Sdn Bhd</div>
    <div class="column col-5">MYR</div>
    <div class="column col-6">10,000,000</div>
    <div class="column col-7">out</div>
  </div> -->







</div>
