.dashboard-container
  // display: flex
  // background-color: pink
  width: 100%
  // padding-left: 80px
  margin-top: 24px
  margin-left: 24px

@media (max-width: 800px)
  .dashboard-container
    margin-left: auto


.widgets
  // background-color: pink
  flex-wrap: wrap
  display: flex
  width: 100%
  box-sizing: border-box
  justify-content: center

  .widget-1
    width: 21%
    order: 0
    box-sizing: border-box


  .widget-2
    width: 21%
    order: 1
    box-sizing: border-box



  .widget-3
    width: 21%
    // border: 1px solid black
    order: 2
    box-sizing: border-box


  .widget-4
    width: 31%
    // border: 1px solid black
    order: 3
    box-sizing: border-box

  .widget-5
    width: 63%
    // border: 1px solid black
    order: 4
    box-sizing: border-box


  .widget-6
    width: 31%
    // border: 1px solid black
    order: 5
    box-sizing: border-box

  @media (max-width: 1450px)
    .widget-1
      width: 20%
    .widget-2
      width: 20%
    .widget-3
      width: 20%
    .widget-4
      width: 30%
    .widget-5
      width: 60%
    .widget-6
      width: 30%

  @media (max-width: 1100px)
    .widget-1
      width: 30%
    .widget-2
      width: 30%
    .widget-3
      width: 30%
    .widget-4
      width: 40%
    .widget-5
      width: 90%
      order: 5
    .widget-6
      width: 50%
      order: 4
    .item-4
      height: 400px
    .item-6
      height: 400px
  @media (max-width: 750px)
    .widget-1
      width: 48%
    .widget-2
      width: 48%
    .widget-3
      width: 48%
    .widget-4
      width: 48%
    .widget-5
      width: 96%
    .widget-6
      width: 96%

    .item-4
      height: 250px

  @media (max-width: 550px)
    .widget-1
      width: 96%
    .widget-2
      width: 96%
    .widget-3
      width: 96%
    .widget-4
      width: 96%
    .widget-5
      width: 96%
    .widget-6
      width: 96%

    .item-4
      height: 250px


.item-1
  margin: 4px
  background-color: #fff
  display: flex
  height: 250px
  justify-content: center
  align-items: center

.item-2
  margin: 4px
  background-color: #fff
  display: flex
  height: 250px
  justify-content: center
  align-items: center

.item-3
  margin: 4px
  background-color: #fff
  display: flex
  height: 250px
  justify-content: center
  align-items: center

.item-4
  margin: 4px
  background-color: #fff
  display: flex
  height: 250px
  justify-content: center
  align-items: center

.item-5
  margin: 4px
  background-color: #fff
  display: flex
  height: 450px
  justify-content: center
  align-items: center

.item-6
  margin: 4px
  background-color: #fff
  display: flex
  height: 450px
  justify-content: center
  align-items: center
