.dashboard-container
  // display: flex
  // background-color: pink
  width: 100%
  // padding-left: 80px
  margin-top: 24px
  margin-left: 24px

// @media (max-width: 800px)
//   .dashboard-container
//     margin-left: auto


.widgets
  // background-color: pink
  flex-wrap: wrap
  display: flex
  // width: 100%
  // box-sizing: border-box
  justify-content: center

  .widget-1
    // width: 21%
    order: 0
    width: 272px
    height: 272px
    margin: 4px
    box-sizing: border-box




  .widget-2
    // width: 21%
    order: 1
    box-sizing: border-box
    width: 272px
    height: 272px
    margin: 4px



  .widget-3
    // width: 21%
    order: 0
    width: 272px
    height: 272px
    margin: 4px
    order: 2



  .widget-4
    // width: 31%
    // border: 1px solid black
    order: 3
    box-sizing: border-box

  .widget-5
    // width: 63%
    // border: 1px solid black
    order: 4
    box-sizing: border-box


  .widget-6
    // width: 31%
    // border: 1px solid black
    order: 5
    box-sizing: border-box

  // @media (max-width: 1450px)
  //   .widget-1
  //     width: 20%
  //   .widget-2
  //     width: 20%
  //   .widget-3
  //     width: 20%
  //   .widget-4
  //     width: 30%
  //   .widget-5
  //     width: 60%
  //   .widget-6
  //     width: 30%

  // @media (max-width: 1100px)
  //   .widget-1
  //     width: 30%
  //   .widget-2
  //     width: 30%
  //   .widget-3
  //     width: 30%
  //   .widget-4
  //     width: 40%
  //   .widget-5
  //     width: 90%
  //     order: 5
  //   .widget-6
  //     width: 50%
  //     order: 4
  //   .item-4
  //     height: 400px
  //   .item-6
  //     height: 400px
  // @media (max-width: 750px)
  //   .widget-1
  //     width: 48%
  //   .widget-2
  //     width: 48%
  //   .widget-3
  //     width: 48%
  //   .widget-4
  //     width: 48%
  //   .widget-5
  //     width: 96%
  //   .widget-6
  //     width: 96%
  //
  //   .item-4
  //     height: 250px
  //
  // @media (max-width: 550px)
  //   .widget-1
  //     width: 96%
  //   .widget-2
  //     width: 96%
  //   .widget-3
  //     width: 96%
  //   .widget-4
  //     width: 96%
  //   .widget-5
  //     width: 96%
  //   .widget-6
  //     width: 96%
  //
  //   .item-4
  //     height: 250px


.item-1
  margin: 4px
  background-color: #fff
  display: flex
  // justify-content: center
  // align-items: center
  width: 240px
  height: 256px
  padding: 8px 16px
  flex-direction: column

.item-2
  margin: 4px
  background-color: #fff
  display: flex
  height: 272px
  justify-content: center
  align-items: center

.item-3
  margin: 4px
  background-color: #fff
  display: flex
  height: 272px
  justify-content: center
  align-items: center

.item-4
  margin: 4px
  background-color: #fff
  display: flex
  height: 272px
  justify-content: center
  align-items: center

.item-5
  margin: 4px
  background-color: #fff
  display: flex
  height: 450px
  justify-content: center
  align-items: center

.item-6
  margin: 4px
  background-color: #fff
  display: flex
  height: 450px
  justify-content: center
  align-items: center




.title-row1
  font-weight: 500
  font-size: 16px
  text-transform: uppercase
  margin: 8px 0px
  height: 24px
  min-width: 100%
  align-items: center
  justify-content: center
  display: flex
  // background-color: pink


.title-row2
  font-weight: 500
  font-size: 40px
  text-transform: uppercase
  margin: 8px 0px
  height: 64px
  min-width: 100%
  // align-items: center
  display: flex
  justify-content: center
  // background-color: pink


.title-row3, .title-row4, .title-row5
  font-weight: 500
  font-size: 16px
  text-transform: uppercase
  margin: 4px 0px
  height: 32px
  display: flex
  min-width: 240px
  flex-direction: column
  // background-color: pink


.table-bars
  display: flex
  justify-content: space-between
  flex-direction: row
  height: 24px
  align-items: center
  // background-color: lime


  .assets
    font-size: 16px
    text-transform: capitalize
  .amount
    font-size: 16px

.bars
  display: flex
  align-items: left
  flex-direction: column
  display: block
  // align-content: center
  // justify-content: center
  // position: relative
  .bar-1
    width: 60%
    height: 7px
    background-color: #51B8F2
    position: relative
    z-index: 1
    top: 4px



  .bar-2
    width: 30%
    height: 7px
    background-color: #51B8F2
    position: relative
    z-index: 1
    top: 4px

  .bar-3
    width: 10%
    height: 7px
    background-color: #51B8F2
    position: relative
    z-index: 1
    top: 4px


  .line
    height: 1px
    background-color: #ddd
    width: 100%
    position: relative


.line-2
  height: 1px
  background-color: #ddd
  width: 100%
  margin-top: 8px
