
.dashboard-container
  display: grid
  grid-template-columns: repeat(3, minmax( 220px, 2fr)) minmax( 320px, 3fr)
  grid-template-rows: minmax( 240px, 1fr) minmax( 480px, 2fr)
  width: 100%
  max-width: 1600px
  grid-gap: 12px
  background-color: pink
  box-sizing: border-box
  margin: auto
  padding: 24px 24px 24px 80px

.widget
  background-color: #fff
  padding: 16px 24px 24px 24px


.widget5
  grid-column: 1/4
.widget6
  grid-column: 4/5







.title
  font-weight: 500
  font-size: 16px
  text-transform: uppercase
  margin: 8px 0px
  height: 24px
  min-width: 100%
  align-items: center
  justify-content: center
  display: flex
  // background-color: pink
.title-bottom
  margin: 16px 0 0 0

.large-amount
  font-weight: 500
  font-size: 40px
  text-transform: uppercase
  margin: 8px 0px
  height: 64px
  min-width: 100%
  align-items: center
  display: flex
  justify-content: center
  // background-color: pink


.table-bar-Widget

.table-bar-values
  display: flex
  justify-content: space-between
  flex-direction: row
  height: 24px
  align-items: center
  text-transform: capitalize
  margin-top: 8px
  // background-color: lime



.bars
  display: flex
  align-items: left
  flex-direction: column
  display: block
  .bar
    width: 60%
    height: 7px
    background-color: #51B8F2
    position: relative
    z-index: 1
    top: 2px
  .line
    height: 1px
    background-color: #ddd
    width: 100%
    position: relative
    margin-top: -2px
    // margin-top: auto
.hidden
  opacity: 0

.bar-number
  background-color: red
  border-radius: 50px
  width: 26px
  height: 26px
  color: white
  text-align: center
  line-height: 26px
  font-weight: 500

@media (max-width: 1220px)
  .dashboard-container
    display: grid
    grid-template-columns: repeat(6, minmax( 110px, 2fr))
    grid-template-rows: minmax( 240px, 2fr) minmax( 360px, 3fr) minmax( 480px, 4fr)
    .widget1
      grid-column: 1/3
      order: 1
    .widget2
      grid-column: 3/5
      order: 2
    .widget3
      grid-column: 5/7
      order: 3
  .widget4
    grid-column: 4/7
    order: 5
  .widget5
    grid-column: 1/4
    order: 4
  .widget6
    grid-column: 1/7
    order: 6
@media (max-width: 880px)
  .dashboard-container
    padding: 16px

@media (max-width: 740px)
  .dashboard-container
    display: grid
    grid-template-columns: repeat(2, minmax( 220px, 1fr))
    grid-template-rows: minmax( 240px, 2fr) minmax( 240px, 2fr) minmax( 360px, 3fr) minmax( 360px, 3fr)
    padding: 16px
    .widget1
      grid-column: 1/2
      order: 1
    .widget2
      grid-column: 2/3
      order: 2
    .widget3
      grid-column: 1/2
      order: 3
  .widget4
    grid-column: 2/3
    order: 4
  .widget5
    grid-column: 1/3
    order: 5
  .widget6
    grid-column: 1/3
    order: 6

// @media (max-width: 880px)
//   .dashboard-container
//     display: grid
//     grid-template-columns: repeat(2, minmax( 240px, 1fr))
//     grid-template-rows: minmax( 240px, 2fr) minmax( 240px, 2fr) minmax( 360px, 3fr) minmax( 360px, 3fr)
//     padding: 16px
//     .widget1
//       grid-column: 1/2
//       order: 1
//     .widget2
//       grid-column: 2/3
//       order: 2
//     .widget3
//       grid-column: 1/2
//       order: 3
//   .widget4
//     grid-column: 2/3
//     order: 4
//   .widget5
//     grid-column: 1/3
//     order: 5
//   .widget6
//     grid-column: 1/3
//     order: 6
