.deal-input-container
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  padding: 24px
  width: 480px
  height: 750px
  position: absolute
  background-color: #fff
  top: 65px
  box-shadow: 1px 1px 18px -4px rgba(0,0,0,0.75)
  -webkit-box-shadow: 1px 1px 18px -4px rgba(0,0,0,0.75)
  -moz-box-shadow: 1px 1px 18px -4px rgba(0,0,0,0.75)
  .deal-input-head
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    .deal-title
      font-size: 18px
      padding: 8px 24px
      font-weight: 500

.deal-input-body
  .deal-row
    display: flex
    flex-direction: row
    align-items: center
    padding: 4px 24px
    .icon-circle
      background-color: $green-color
      width: 24px
      height: 24px
      border-radius: 50%
      i
        padding: 4px
        font-size: 16px
        color: #fff
    h3
      color: $green-color
      padding-left: 16px

.deal-col
  padding: 8px 40px

.input-text
  font-size: 14px
  padding-bottom: 4px

.select-form
  width: 360px
  height: 32px
  margin-top: 4px
  font-size: 15px
