.pending-page
  padding-left: 80px

.table-head
  background-color: #FFF
  height: 64px
  display: flex
  justify-content: space-between
  box-shadow: 1px 9px 35px -12px rgba(0,0,0,0.75)


.dropbtn
  padding: 1px 16px
  font-size: 16px
  font-weight: 500
  border: none
  cursor: pointer
  background-color: #fff
  display: flex
  align-items: center


  &:hover, .dropbtn:focus
    background-color: rgba(0,0,0,0.1)

.dropdown
  margin: 16px 8px
  .material-icons
    padding: 0px
    margin: 2px -10px 0px 2px



.dropdown-content
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 260px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

  a
    color: black
    padding: 12px 20px
    text-decoration: none
    display: block
    font-size: 16px
    font-weight: 400




.dropdown-content
  a:hover
    background-color: #eee
    border-left: 4px solid #aaa
    padding: 12px 16px



.show
  display: block

.filter-btn
  height: 40px
  width: 40px
  margin-top: 12px
  margin-right: 24px
  border-radius: 50%

  // &:hover
  //   background-color:#eee
  &:active
    background-color: #bbb
  &.is-active
    background-color: #ddd
    border: 1px solid transparent
    box-shadow: inset 1px 1px 1 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07)
    height: 38px
    width: 38px
    .material-icons
      padding: 7px


.table-content
  display: flex


  .table-grid
    // padding-right: 16px


.filter-wrapper
  overflow: hidden
  min-width: 260px
  height: 100vh
  float: right
  border: 1px solid $line-color
  background-color: #fff
  display: none
  &.is-open
    display: block

  @media (max-width: 1410px)
    display: block
    position: absolute
    right: 0
    margin-right: -260px
    opacity: 0
    pointer-events: none
    transform: translate(300px, 0px)
    transition: all 300ms ease-in-out
    &.is-open
      opacity: 1
      pointer-events: auto
      transform: translate(-260px, 0px)

  .filter-header
    background-color: white
    height: 54px
    border-bottom: 1px solid $line-color
    align-items: center
    display: flex
    justify-content: space-between

    .filter-header-test
      margin: auto 16px
      display: flex
      justify-content: space-between
      width: 100%
      a
        font-size: 14px
        font-weight: 500
      .clear-filters
        font-weight: 400
        color: $accent-color
        margin-right: 8px



  .filters

    .filters-test
      width: 200px
      height: 48px
      // background-color: #ccc
      margin: 16px 24px




// Pending dialog box

// .pen-dialog-modal
//   width: 100%
//   height: 100vh
//   background-color: rgba(0,0,0,.4)
//   top: 0
//   position: absolute
//   display: flex
//   justify-content: center


.pen-dialog
  width: 440px
  margin: 4% 1%
  background-color: #fff
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)




.deal-detail-head
  // width: 100%
  height: 60px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid #ddd
  padding-right: 16px
  // box-sizing: border-box
  margin-left: 40px
  // background-color: pink
.deal-detail-title
  font-size: 18px
  font-weight: 500

.deal-detail-table
  // background-color: pink
  display: grid
  grid-template-columns: 1fr 1.4fr
  padding: 24px
  grid-column-gap: 16px
  grid-row-gap: 16px
  margin: 16px 0
  padding-right: 24px
  padding-left: 56px
  .cell
    // background-color: skyblue
    padding: 4px
    font-size: 15px



.link-modals-container
  // background-color: lime
  border-top: 1px solid #ddd
  margin-left: 40px
  .info-link
    display: flex
    align-items: center
    border-bottom: 1px solid #ddd
    margin-left: 40px
    &:last-child
      border-bottom: none
      margin-bottom: 8px
    i
      margin-left: -48px
      font-size: 22px
    .add-info
      display: flex
      align-items: center
      // background-color: skyblue
      justify-content: space-between
      width: 100%
      height: 42px
      .text-link
        color: rgba(0, 0, 0, 0.8)
      a
        padding-right: 32px
        font-size: 15px
        color: $accent-color

.act-btn-container
  width: 100%
  height: 72px
  background-color: #fff
  border-top: 1px solid #ddd
  padding: 8px 24px
  box-sizing: border-box
  .primary-btn-blue
    background-color: $accent-color
    &:hover
      background-color: darken($accent-color, 4%)
  .btn
    height: 40px
    padding: 0 16px
    font-weight: 500
    font-size: 15px
    border: none
