  <div class="setting-wrapper">
    <div class="set-left-col">
      <div class="settings-head">
        <h2>Deal Settings</h2>
        <p>Set business entity, counter-party, and other settings that help you add new transactions (deals).</p>
      </div>
      <div class="settings-link">
        <a href="#" id="bentity">
          <div class="left-text">
            <h3>Business Entities</h3>
            <p>Manage the business entities, such as subsidiaries and parent entities (companies) ?</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Counter-parties</h3>
            <p>Control which counterparties your organization could deal with.</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Instruments & Products</h3>
            <p>Select the product types (financial instruments) that could be invested in.</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Currencies</h3>
            <p>Control the currencies your organization would use for new transactions (deals).</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Facility/Limit</h3>
            <p>Set controls and limits for deals with counter-parties, and in currencies, and product types.</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
    </div>
    <div class="set-right-col">
      <div class="settings-head">
        <h2>System Settings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
      </div>
      <div class="settings-link">
        <a href="#" id="system-config">
          <div class="left-text">
            <h3>System Configurations</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>User Profile & Permissions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Activity Log</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Access Control</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
      <div class="settings-link">
        <a href="#">
          <div class="left-text">
            <h3>Email Blast</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
          </div>
          <div class="right-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </div>
        </a>
      </div>
    </div>
  </div>
