

<div class="job-modal-bg-1">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Account Assistant</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Minimum 1-2 years of related industries experience. Fresh graduates/Entry level applicants are encouraged to apply.</li>
				<li>Minimum qualification of LCCI / Diploma in Accounting or equivalent.</li>

			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Process and reconcile a wide variety of accounting documents such as invoices, departmental billings, employee reimbursements, cash receipts, vendor statements, and journal vouchers.</li>
				<li>Review and code financial information; prepare and process documents to disburse funds, make deposits and prepare reports.</li>
				<li>To build a reliable and comprehensive data base of prospects and customers for the Company.</li>
				<li>Compile and review information for accuracy; and maintain records. </li>
				<li>Work is performed by applying knowledge of accounting terminology and using spreadsheets and/or automated accounting systems.</li>

			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Handling staff reimbursement claim</li>
				<li>Handling reconciliation of bank account</li>
				<li>managing daily accounts documents for approval by management</li>
				<li>Preparing customers monthly Tax Invoice</li>
				<li>Communicate with customer regarding their billing assist the Head of Finance with collection</li>
				<li>Assisting in handling of accounts (GL / AP / GST)</li>
				<li>Coordinates monthly closing with Head of Finance</li>
				<li>Preparing audit schedules and assist in liaising with external audit</li>
				<li>Perform other accounting duties as requested by the Head of Finance</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
