

<div class="job-modal-bg-2">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Application Consultant</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Candidate must possess at least a Diploma, Advanced/Higher/Graduate Diploma, Bachelor's Degree, Post Graduate Diploma, Professional Degree or Master's Degree in Computer Science/Information Technology or equivalent.</li>
				<li>Undergraduates with outstanding academic records in Finance/Accountancy,Banking,Commerce, Mathematics, Financial Engineering , Sciences, and Engineering are also encouraged to apply.</li>
				<li>Strong in financial mathematics or CFA qualification is an added advantage.</li>
				<li>Able to work independently with minimum supervision & under pressure.</li>
				<li>Must be willing to travel overseas.</li>
				<li>Good communication skills and interpersonal skills at all levels.</li>
				<li>Good team player</li>	
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Great opportunity for a Salesforce.com Implementation Consultant to build on excellent consulting skills in a dynamic London based Platinum Salesforce partner.</li>
				<li>The role will give you the chance to work on challenging and exciting Salesforce.com projects as well as enhancing our product roadmap.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Undertake analysis & mapping of client business requirements to application solutions.</li>
				<li>Undertake Gap Analysis & design of solutions to meet client's requirements.</li>
				<li>Involve in quality assurance of the solutions prior delivering to our clients.</li>
				<li>Provide user training to our clients.</li>
				<li>Conduct User Acceptance Testing with clients.</li>
				<li>Involve in data conversion / migration.</li>
				<li>Involve in software application and reports troubleshooting and rectification of errors.</li>
				<li>Involve as 1st and 2nd level of support of software application, database and infrastructure issues; which covers troubleshooting and rectification.</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
