

<div class="job-modal-bg-4">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Business Development Manager</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Minimum 5-10 years of related industries experience.</li>
				<li>Minimum qualification of Master / Degree or equivalent.</li>
				<li><strong>Presentable & speaking skill is crucial.</strong> Presentable appearance with excellent spoken and written communication skills</li>
				<li><strong>Excellent channel/partner management.</strong> Ability to recruit and develop partners to achieve sales goals and target.</li>
				<li><strong>Domain knowledge.</strong> Excellent knowledge of financial market & investment processes and operations. Good understanding of software and services business</li>
				<li><strong>Growing new markets.</strong> Demonstrated track record in developing new markets and growing existing ones.</li>
				<li><strong>Sales and account management.</strong> Demonstrated track record in sales and account management; strong sales skills in the area of complex sales including engaging early in the customer buying cycle at senior levels, building long term strategic and maintain the network and rapport with the prospects.</li>
				<li><strong>Good negotiations skill.</strong> Handling all commercial and contractual negotiations</li>
				<li><strong>Superb interpersonal skills.</strong>Tactfully managing and interacting with external and internal parties.</li>
				<li><strong>Cross cultural.</strong> Cultural sensitivity to cross cultural dynamics.</li>
				<li><strong>IT Skill.</strong> Proficiency in MS Office, good technical and IT knowledge</li>				
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>This is an exciting regional business development role, with the sales responsibility for the entire company in ASEAN.</li>
				<li>Your main focus will be growing the business whilst improving effectiveness and developing partners.</li>
				<li>This is a key role and requires somebody not only be able to balance structured sales with some major client services but also a hunter who thrives on sales.</li>
				<li>It is expected that the successful candidate will be an excellently networked professional in financial services industry and large corporates at C levels and will have demonstrated experience of generating financial software solution sales.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Software solution/treasury and Investment enterprise solution sales</li>
				<li>Identify and groom new prospects and new opportunities</li>
				<li>Build , manage and develop business partners into stable revenue contributors </li>
				<li>Add on business with existing clients</li>
				<li>Identify and develop sales and marketing strategies for target markets</li>
				<li>Conduct business networking through a series of relevant activities pertaining to designated accounts to raise brand awareness</li>
				<li>Develop and implements sales plans and activities</li>
				<li>Managing and coordinating winning Request For Proposal(RFP) submissions</li>
				<li>Identify and qualifies sales opportunities, providing a consultative and value added approach to develop relationships</li>
				<li>Establish and maintain real viable partnerships with key decision makers</li>
				<li>Maintain good rapport with customers, vendors, distributors and business & technology partners</li>
				<li>Excellent knowledge of enterprise sales cycles and processes</li>
				<li>Contribute to company’s overall growth</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
