

<div class="job-modal-bg-5">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Marketing Executive</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>5 years and above marketing experience </li>
				<li>Degree in Marketing, international marketing or its equivalent. </li>
				<li>Candidates without a degree but possess strong exposure in marketing and proven track record would be considered.</li>
				<li>Ability to develop and implement business strategies and assess business performance in a cross functional environment</li>
				<li>Computer literate and good communication skill</li>
				<li>Willing to travel</li>
				<li>Salary package commensurate with relevant experience and capability.</li>
				<li><strong>Writing skill is crucial.</strong> Excellent spoken and written communication skills</li>
				<li><strong>Creativity/Innovation.</strong> Creative thinking and the ability to learn, assess and apply new concepts</li>
				<li><strong>Business savvy.</strong>Good marketing acumen and the ability to assimilate and process technical, marketing and sales information. Good business sense, an awareness of budgets and attention to detail</li>
				<li><strong>Understanding technology.</strong> Excellent computer and IT skills – MS office and designing tools </li>
				<li><strong>Cross cultural.</strong> Cultural sensitivity to cross cultural dynamics </li>
				<li><strong>Design Skills.</strong> Experience or knowledge in one or more of the following areas: branding, sense of designing and product marketing.</li>
				<li><strong>Insight into analytics and interpreting data.</strong> The ability to gather data, analyse sales figures, consumer demand and market research</li>
				<li><strong>Traits of a person.</strong> Self-motivation, with drive and enthusiasm. The ability to work under pressure and to deadlines.  Effective interpersonal, organisational and planning skills</li>
				<li><strong>Leadership.</strong> Taking risks, driving change and building trust. Must be a leader to drive a brand forward across our business for maximum impact. </li>
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>This position of marketing executive involves responsibility for the promotion of the company’s brand, product or service. </li>
				<li>This is done by developing effective marketing campaigns and public relations with analysis of market trends and keeping up to date with client needs and competitors’ positions.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>To develop, plan and execute the strategic planning of an annual or long term marketing plan to drive forward agreed company objectives.</li>
				<li>To manage the production of marketing materials, including brochures and posters. This can involve writing and proof reading copy, and liaising with designers and printers.</li>
				<li>To carry out market research and customer surveys to assess demand, brand positioning and awareness.</li>
				<li>To liaise and building relationships. Externally, this could be with customers and technology partners.</li>
				<li>Internally this could mean different related and supporting departments.</li>
				<li>To budget manage and identify advertising opportunities</li>
				<li>To write and distributing press releases</li>
				<li>To arrange for the effective distribution of marketing materials</li>
				<li>To maintain, build and update mailing databases</li>
				<li>To organise and attend events and exhibitions</li>
				<li>To develop strategic relations to secure sponsorship to assist with the publicity and funding of marketing projects</li>
				<li>To evaluate marketing campaigns</li>
				<li>To monitor competitor activity</li>
				<li>To support the business development and other colleagues</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
