

<div class="job-modal-bg-6">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Software Engineer</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>At least 3-4 year(s) of working experience in Java EE environment is required for this position.(Fresh graduates are also encouraged to apply)</li>
				<li>Candidate must possess at least a Bachelor's Degree, Post Graduate Diploma, Professional Degree, Computer Science/Information Technology, Engineering (Computer/Telecommunication) or equivalent.</li>
				<li>Required skill(s): Java (JDK7, JEE 6), JSF2.2, HTML5, JavaScripts, OOP, Design Patterns, Relational DB Conceptualization & Design, MS SQL Server</li>
				<li>Candidate should be a ‘techie’, be passionate about programming and keen to acquire new </li>
				<li>Proficiency of English in written and oral communication is highly desirable</li>	
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Involve in design & development of new flagship financial product of the company, using latest Java technologies such as Java SE 7, Java EE 6 (CDI, EJB3.1, JPA 2, etc.), JSF 2.2 / PrimeFaces</li>
				<li>Involved in R&D for mobile devices (smartphones and tablets), using Java, Objective C, HTML5, JavaScript framework (JSF2, jQuery, etc.) </li>
				<li>Seniors are expected to play leadership role, lead R&D efforts in assigned area, provide occasional guidance/training to less experienced staff.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Research and implement new technologies such as Cloud computing, Matrix programming and Parallel computing</li>
				<li>Produce appropriate documentations of technical requirements on completed assignments.</li>
				<li>Collaborate with implementers/consultants in meeting clients' requirements.</li>
				<li>Collaborate with team members on research, design & architecting, development & testing.</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
