

<div class="job-modal-bg-7">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>System Administrator</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Minimum 1-2 years of related industries experience. Fresh graduates/Entry level applicants are encouraged to apply.</li>
				<li>The successful candidate must possess formal tertiary education with either a Degree in Computer Science/Information Technology, or equivalent.</li>
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Installation, maintenance and monitoring of organization’s infrastructure (hardware & software) such as computer systems, network, and security; to meet the current and future requirements </li>
				<li>Responsible for management, maintenance and architecture of storage, virtualised environment, servers, network devices, and productivity tools</li>
				<li>Monitor systems and identify performance issues proactively </li>
				<li>Work within strict time frames and elevate incidents within defined timeframes </li>
				<li>Test all changes to networks, hardware, software, and hosted applications </li>
				<li>Resolve issues and prepare status reviews and reports </li>
				<li>Professionally represent the infrastructure team as a technical consultant</li>
				<li>Interact and coordinate with various vendors and service providers to ensure productive environment</li>
				<li>Maintain the necessary project plans and documentation of all system builds and modifications</li>
				<li>Maintain a good working knowledge of current infrastructure and future trends </li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Solid technical background in a hosted services environment including infrastructure networks, hardware, software and telecommunications</li>
				<li>Good knowledge of network and firewall configuration</li>
				<li>Knowledge of cloud based infrastructure</li>
				<li>Ability to identify incident trends in order to elevate incidents in accordance with standard protocols </li>
				<li>Able to gather relevant information systematically to troubleshoot and resolve issues</li>
				<li>Ability to work in a team environment </li>
				<li>Strong virtualization experience using Microsoft Virtual Machine</li>
				<li>Proven ability to work in a cloud based or hosting environment</li>
				<li>Good analytical, problem solving and decision making skills</li>
				<li>Good attention to detail, testing and documentation</li>
				<li>Strong oral and written communication skills</li>
				<li></li>
				<li></li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
