

<div class="job-modal-bg-8">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Technical Support Consultant</h1>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Candidate must possess at least a Bachelor’s Degree in Computer Science/Information Technology, Engineering, Physics, Accounting, Finance, Banking, Mathematics, Financial Engineering, Commerce or its equivalents.</li>
				<li>Experience Treasury/Investment/Insurance industry is an added advantage though not necessary.</li>
				<li>Junior : At least 1-2 years working experience. Fresh graduates are encouraged to apply.</li>
				<li>Senior : At least 3 years working experience. Experienced in SLDC and Support is an added advantage.</li>
				<li>Ability to multi-task and prioritize tasks.</li>
				<li>Ability to identify problems and issues encountered and highlight to manager.</li>
				<li>Good Communication skills and interpersonal skill at all levels.</li>
				<li>Proficiency of English in written and oral communication is necessary.</li>
				<li>Willing to travel overseas.</li>
				<li></li>			
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Act as a first point of contact to our clients.</li>
				<li>Involve in client support on software application, databases and infrastructure issues.</li>
				<li>Provide internal or external training of solutions provided to clients.</li>
				<li>Collaborate with development team to ensure the stability of software application and reports before delivering to our clients.</li>
				<li>Involve in software application and reports troubleshooting and rectification of errors.</li>
				<li>Recommend solutions to clients on how to use application on issues reported.</li>
				<li>Assist in enhancing the software application in meeting market requirements.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Traits of a person – Proactive, self-motivated, creative and effective organizational and planning skills.</li>
				<li>First contact point for our clients</li>
				<li>Involve as 1st and 2nd level of support of software application, database and infrastructure issues; which covers troubleshooting and rectification.</li>
				<li>Provide internal or external training of solutions</li>
				<li>Collaborate with the development team to ensure the stability of software application and reports.</li>
				<li>Involve in quality assurance of the solutions prior to delivery to clients.</li>
				<li>Recommend solution to client on application usage for reported issues.</li>
				<li>Assist in software application enhancement to meet market requirements.</li>
				<li>Analyze and prepare documentation and/or specification for software application and reporting enhancement.</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
