

<div class="job-modal-bg-1">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Account Manager<p>(Sales & Marketing)</p></h1>
			<hr>
			<h2>Education / Experience</h2>
			<ul class="lists">
				<li>Minimum 2 years of Account Management and Marketing experience.</li>
				<li>The successful candidate must possess at least a Bachelor's Degree in Finance, Economics, Business Administration, Marketing, Computer Science, Management Information System, Mathematics, Physics & Engineering, or related degrees.</li>
				
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Ensure an effective and efficient first point of contact for clients with company.</li>
				<li>To identify and create leads for all business development prospects besides maintaining a close professional relationship with influential parties concerned.</li>
				<li>To build a reliable and comprehensive data base of prospects and customers for the Company.</li>
				<li>Maintain company's professional image through all interactions with clients and ensure that clients' satisfaction is realized.</li>
				<li>To execute the necessary Marketing programs and activities in the total business development and Sales process.</li>
				<li>Involve directly and/or indirectly in enhancing the system to meet new markets' and/or clients' requirements.</li>
				<li>Keep abreast and improve skills and knowledge in both technology and business requirements.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Excellent presentation skills including both development and delivery.</li>
				<li>Ability to excel in ambiguous technical and business situations by adapting plans and approach; analytical and organizational skills, negotiation, judgment and decision-making skills.</li>
				<li>Excellent interpersonal skills to build and maintain positive working relationships across groups and all management levels.</li>
				<li>Outstanding time-management skills and a demonstrated ability to work independently as well as in a team environment to meet deadlines while juggling many projects and priorities simultaneously.</li>
				<li>Results oriented, energetic and focused with a strong desire to learn and succeed.</li>
				<li>Develop and maintain a deep understanding of your client base.</li>
				<li>Build and maintain relationships with a list of dedicated clients and provide ongoing strategic consultation and support.</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:solutions@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	

		

	</div>
</div>
