

<div class="job-modal-bg-3">
	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Administrative Assistant</h1>
			<hr>
			<h2>Education / Experience</h2>
			<ul class="lists">
				<li>Handle general office administration tasks.</li>
				<li>To attend to day-to-day administrative work in Finance & HR department.</li>
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Minimum SPM / STPM or equivalent qualification.</li>
				<li>1 year working experience in the related field is required for this position , however, fresh graduates/entry level applicants are also encouraged to apply.</li>
				<li>Computer literate and possess good command in MS Office suite of applications.</li>
				<li>Good command of English & Bahasa Malaysia in both communication and writing skills.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Good communication skills & pleasant personality required in handling telephone calls & front desk duties.</li>
				<li>Data entry into UBS accounting software & HR payroll package.</li>
				<li>Monitoring of time sheets & attendance report.</li>
				<li>Assist in overseeing the smooth functionality & administration of the office.</li>
				<li>Other administrative task in Finance & HR department.</li>
				
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:solutions@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>
				
		</div>
	

	<!-- end of Job discription -->	
	

	</div>
</div>
