

<div class="job-modal-bg-2">
	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>
		
		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Software Engineer</h1>
			<hr>
			<h2>Education / Experience</h2>
			<ul class="lists">
				<li>Minimum 1-7 years of related industries experience. Fresh graduates/Entry level applicants are encouraged to apply.</li>
				<li>The successful candidate must possessformal tertiary education with either a Degree in Computer Science/Information Technology, Engineering, Mathematics, Physics, Accounting or equivalent.</li>
				<li>Experience in software development using Visual Basic, Visual C++ and/or Visual Studio.Net.</li>
			</ul>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Full lifecycle application development.</li>
				<li>Designing, coding and debugging applications using Visual Basic, Visual C++ and/or Visual Studio.Net languages.</li>
				<li>Software testing and quality assurance.</li>
				<li>Performance tuning, improvement, balancing, usability, automation.</li>
				<li>Support, maintain and document software functionality.</li>
				<li>Integrate software with existing systems.</li>
				<li>Project Planning and Project Management.</li>
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>The Software Engineer would be involved in the analysis, development, implementation and support of the software solutions of the company.</li>
				<li>Strong analytic and problem solving skills.</li>
				<li>Good communication and interpersonal skills.</li>
				<li>Ability to plan and work to deadlines.</li>
				<li>Ability to work in a team and/or to lead a team.</li>
			</ul>
			<br>
				<hr>
				<div class="resume">
				<a href="mailto:solutions@triaset.com?Subject=Job%20Application">Send us your resume</a>
				</div>
					
			</div>
		

	<!-- end of Job discription -->	


	</div>
</div>

